<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.huoapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name=".HuoApplication"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.MainActivity" android:launchMode="singleTask"/>

        <activity android:name=".ui.home.SignActivity"
            android:theme="@style/AppTheme.SwipeBack"/>

        <activity android:name=".ui.game.GameDetailsActivity"
            android:theme="@style/AppTheme.SwipeBack"/>

        <activity android:name=".ui.mine.MineGameActivity"
            android:theme="@style/AppTheme.SwipeBack"/>

        <activity android:name=".ui.album.PhotoBrowseActivity"
            android:theme="@style/PhotoBrowseActivity"/>

        <activity android:name=".ui.game.GameCommentActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.SwipeBack"/>

        <activity android:name=".ui.mine.RecordDetailActivity"
            android:theme="@style/AppTheme.SwipeBack"/>

        <activity android:name=".ui.mine.WithdrawActivity"
            android:theme="@style/AppTheme.SwipeBack"/>

        <activity android:name=".ui.mine.SettingActivity"
            android:theme="@style/AppTheme.SwipeBack"/>

        <activity android:name=".ui.mine.ChangePasswordActivity"
            android:theme="@style/AppTheme.SwipeBack"/>

        <activity android:name=".ui.mine.MobileRechargeActivity"
            android:theme="@style/AppTheme.SwipeBack"/>

        <activity android:name=".ui.album.PhotoSelectActivity"
            android:theme="@style/AppTheme.SwipeBack"/>

        <activity android:name=".ui.mine.InfoChangeActivity"
            android:theme="@style/AppTheme.SwipeBack"/>

    </application>

</manifest>